html, body {    
    margin: auto;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1E1E1E;
}

.center {
    object-fit: none;
}

.noselect {
    user-select: none;
}

.select {
    user-select: all;
}