html, body {    
    margin: auto;
}

body {
    overflow: hidden;
    background-color: #1E1E1E;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.noselect {
    user-select: none;
}